.about-banner,
.contact-banner {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    padding-top: 30px;
    margin: 75px 10%;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.about-heading h1,
.contact-heading h1 {
    font-family: 'The Nautigal', cursive;
    color: #0b0d9d;
}

.about-image img {
    border-radius: 10px;
    width: 30%;
    height: 100%;
    float: left;
    margin: 10px 2% 2px 12%;
}

.contact-image img {
    border-radius: 10px;
    width: 30%;
    height: 220px;
    float: left;
    margin: -80px 2% 10px 2%;
}

.about-banner p,
.contact-banner p {
    font-family: 'The Nautigal', cursive;
    color: #000;
    margin: 2px 12%;
    padding: 20px 0 50px 0;
    text-align: justify;
}

.contact-banner p a {
    color: #0b0d9d;
    font-weight: bold
}

.contact-banner p a:hover {
    color: #555;
}

@media (max-width:1010px) {
    .about-banner,
    .contact-banner {
        margin: 50px 10%;
    }

    .about-heading h1,
    .contact-heading h1 {
        font-size: 40px;
    }

    .about-banner p,
    .contact-banner p {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .contact-image img {
        width: 40%;
        margin: -30px 3% 10px 12%;
    }
}