@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: poppins;
  background: url('../images/logo.png') fixed no-repeat center #f1f1f1;
  font-family: "Open Sans", sans-serif;
}

nav {
  background-color: white;
  margin: 30px 2.5%;
  width: 95%;
  height: 80px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 45px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo img {
  height: 80px;
}

.menu {
  display: flex;
}

.menu li {
  position: relative;
  margin: 20px;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}

.menu li a {
  color: #555;
}

.menu a:hover {
  color: #0b0d9d;
}

.menu a.active {
  color: #0b0d9d;
  font-weight: bolder;
  transition: all ease 0.3s;
}

li.product {
  display: inline-block;
}

.product-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.product-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.product-content a:hover {
  background-color: #f1f1f1;
}

.product:hover .product-content {
  display: block;
}

.search-menu a {
  margin: 0px 10px;
  font-size: 1.2rem;
  color: #555;
}

.search-menu a i:hover {
  color: #0b0d9d;
}

.search-bar {
  width: 100%;
  height: 300px;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
  z-index: 101;
  animation: search 0.3s;
}

.search-input {
  width: 90%;
  border-bottom: 2px solid #555;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-top: 20px;
}

.search-input:active {
  border-bottom: 4px solid #0b0d9d;
}

.search-bar input {
  width: 100%;
  padding: 30px;
  border: none;
  outline: none;
  font-size: 2rem;
  margin: 20px;
  padding: 0px 20px;
}

.search-cancel {
  color: #555;
  font-size: 2rem;
  padding-right: 40px;
}

.search-cancel:hover {
  color: #0b0d9d;
}

.search-bar {
  display: none;
}

.search-bar-active {
  display: flex;
}

.sticky-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  z-index: 102;
}

.footer {
  margin-top: 10px;
  background-color: #ffffff;
  padding: 2rem 0;
}

.footer-container {
  width: 100%;
  margin: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}

.footer-col {
  width: 33.33%;
  padding: 0 10px;
}

.footer-col h4 {
  font-size: 18px;
  color: #0b0d9d;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #555;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #0b0d9d;
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  font-weight: bolder;
  padding-left: 8px;
}

footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #0b0d9d;
  transition: all 0.3s ease;
}

.footer-col .social-links {
  color: #0b0d9d;
}

.footer-col .social-links p:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col .social-links p {
  color: #0b0d9d;
  justify-content: space-between;
  font-size: 16px;
}

.footer-col .social-links p:hover {
  color: #0b0d9d;
  font-weight: bolder;
  padding-left: 8px;
}

@media (max-width: 1010px) {
  nav {
    position: relative;
  }

  .nav {
    height: 80px;
  }

  .sticky-nav {
    height: 80px;
  }

  .sticky-nav .menu {
    top: 80px;
  }

  .menu {
    position: absolute;
    top: 110px;
    left: 0;
    background-color: #ffffff;
    border-bottom: 4px solid #555;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 102;
    flex-direction: column;
    display: none;
  }

  .menu li {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .nav .menu li a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 25px;
  }

  .toggle {
    display: block;
  }

  .toggle::before {
    content: "\f0c9";
    font-family: fontAwesome;
    line-height: 30px;
    z-index: 1;
    cursor: pointer;
  }

  .toggle.active::before {
    content: "\f00d";
  }

  .nav.active .menu {
    display: block;
  }

  .menu a:hover {
    background-color: #f1f1f1;
    color: #0b0d9d;
    border: none;
    border-radius: 0;
  }

  .menu a.active {
    background-color: #0b0d9d;
    color: #ffffff;
    transition: all ease 0.3s;
  }

  .search-input {
    height: 60px;
  }

  .search-input input,
  .search-cancel {
    font-size: 1.4rem;
  }

  .product-content {
    left: 100px;
  }
}

@media(max-width:768px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }

  .footer-col ul li a{
    font-size: 14px;
  }

  .footer-col .social-links p {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .nav {
    padding: 10px;
  }

  .footer-col {
    width: 100%;
  }
}